In [29]:
# Initial imports
import os
import pandas as pd
import requests
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline
from dotenv import load_dotenv
load_dotenv()

True

In [30]:
# Reading the News API key enviroment variable
api_key = os.getenv("crypto_news_key")

In [31]:
print(f"API key:{type(api_key)}")

API key:<class 'str'>

In [32]:
#Retrieve the latest news events and eventIDs. Events are important headlines that are receiving a significant amount of news coverage.
crypto_events = 'https://cryptonews-api.com/api/v1/events?&yeartodate&token='+ api_key

In [33]:
response_crypto_events = requests.get(crypto_events)

In [34]:
response_crypto_events

In [35]:
raw_crypto_events = response_crypto_events.json()

In [36]:
raw_crypto_events

{'data': [{'event_name': 'Binance Smart Chain hit by $2.4 Million TurtleDex exit scam',
   'event_id': 'C9',
   'news_items': 6,
   'date': 'Sat, 20 Mar 2021 16:40:00 -0400',
   'tickers': ['BNB']},
  {'event_name': 'Latin America Gets its First Bitcoin ETF',
   'event_id': 'C8',
   'news_items': 7,
   'date': 'Fri, 19 Mar 2021 13:50:00 -0400',
   'tickers': ['BTC']},
  {'event_name': 'Meitu Buys $50 Million worth of Bitcoin and Ethereum',
   'event_id': 'C7',
   'news_items': 7,
   'date': 'Thu, 18 Mar 2021 20:35:00 -0400',
   'tickers': ['BTC', 'ETH']},
  {'event_name': 'Lindsay Lohan to Release Exclusive NFT Collectibles on TRON',
   'event_id': 'C6',
   'news_items': 6,
   'date': 'Thu, 18 Mar 2021 14:16:00 -0400',
   'tickers': ['TRX']},
  {'event_name': 'Bank of America slams Bitcoin in research note',
   'event_id': 'C5',
   'news_items': 8,
   'date': 'Thu, 18 Mar 2021 09:15:00 -0400',
   'tickers': ['BTC']},
  {'event_name': 'Morgan Stanley to offer Bitcoin to their richest investors',
   'event_id': 'C4',
   'news_items': 18,
   'date': 'Wed, 17 Mar 2021 13:32:00 -0400',
   'tickers': ['BTC']},
  {'event_name': "US judge denies request to add XRP holders as intervenors in SEC's lawsuit",
   'event_id': 'C3',
   'news_items': 6,
   'date': 'Wed, 17 Mar 2021 11:34:00 -0400',
   'tickers': ['XRP']},
  {'event_name': "VISA says it's developing a Bitcoin and crypto business",
   'event_id': 'C2',
   'news_items': 9,
   'date': 'Wed, 17 Mar 2021 11:09:00 -0400',
   'tickers': ['BTC']},
  {'event_name': 'Grayscale offers five new crypto trusts based on BAT, LINK, FIL, MANA, LPT',
   'event_id': 'C1',
   'news_items': 11,
   'date': 'Wed, 17 Mar 2021 11:04:00 -0400',
   'tickers': ['BAT', 'LINK', 'FIL', 'MANA', 'LPT']},
  {'event_name': 'Ripple Asks Court to Force SEC to Produce Documents Regarding Bitcoin and Ethereum',
   'event_id': 'B100',
   'news_items': 5,
   'date': 'Tue, 16 Mar 2021 12:00:00 -0400',
   'tickers': ['XRP', 'BTC', 'ETH']},
  {'event_name': 'Bitcoin falls after weekend rally tops $61K',
   'event_id': 'B99',
   'news_items': 10,
   'date': 'Mon, 15 Mar 2021 20:26:00 -0400',
   'tickers': ['BTC']},
  {'event_name': 'Americans could spend $40 Billion in stimulus on bitcoin',
   'event_id': 'B98',
   'news_items': 8,
   'date': 'Mon, 15 Mar 2021 18:00:00 -0400',
   'tickers': ['BTC']},
  {'event_name': 'Another DeFi Hack: PancakeSwap, Cream Finance Websites Compromised',
   'event_id': 'B97',
   'news_items': 11,
   'date': 'Mon, 15 Mar 2021 12:59:00 -0400',
   'tickers': ['CAKE', 'CREAM']},
  {'event_name': 'India To Introduce All Out Cryptocurrency Ban Targeting Miners and Traders: Report',
   'event_id': 'B96',
   'news_items': 13,
   'date': 'Mon, 15 Mar 2021 07:00:00 -0400',
   'tickers': []},
  {'event_name': 'Bitcoin Reaches New All-Time High, Taps $60,000',
   'event_id': 'B95',
   'news_items': 20,
   'date': 'Sat, 13 Mar 2021 08:00:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Microstrategy Purchases Additional 262 Bitcoin for $15 Million',
   'event_id': 'B94',
   'news_items': 7,
   'date': 'Fri, 12 Mar 2021 23:00:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Binance reportedly under CFTC investigation over US-based trading activity',
   'event_id': 'B93',
   'news_items': 6,
   'date': 'Fri, 12 Mar 2021 09:11:00 -0500',
   'tickers': []},
  {'event_name': 'U.S. SEC Now Seeks Personal Information of Ripple Executives In Lawsuit Investigation',
   'event_id': 'B92',
   'news_items': 10,
   'date': 'Fri, 12 Mar 2021 05:48:00 -0500',
   'tickers': ['XRP']},
  {'event_name': 'Bitcoin breaks $57,000 as on-chain data turns “mostly bullish”',
   'event_id': 'B91',
   'news_items': 7,
   'date': 'Thu, 11 Mar 2021 15:18:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Ripple settles with YouTube, but XRP fails to react',
   'event_id': 'B90',
   'news_items': 6,
   'date': 'Wed, 10 Mar 2021 16:00:00 -0500',
   'tickers': ['XRP']},
  {'event_name': 'Grayscale Parent DCG Buying $250 Million Worth of GBTC',
   'event_id': 'B89',
   'news_items': 9,
   'date': 'Wed, 10 Mar 2021 09:11:00 -0500',
   'tickers': ['BTC']},
  {'event_name': "JPMorgan launching 'crypto exposure basket' featuring MicroStrategy and Square",
   'event_id': 'B88',
   'news_items': 10,
   'date': 'Wed, 10 Mar 2021 09:10:00 -0500',
   'tickers': []},
  {'event_name': 'MoneyGram and Ripple part ways over XRP lawsuit',
   'event_id': 'B87',
   'news_items': 4,
   'date': 'Mon, 08 Mar 2021 19:34:00 -0500',
   'tickers': ['XRP']},
  {'event_name': 'PayPal Confirms Curv Acquisition',
   'event_id': 'B86',
   'news_items': 10,
   'date': 'Mon, 08 Mar 2021 17:42:00 -0500',
   'tickers': []},
  {'event_name': 'Norwegian investment firm allocates $58M to Bitcoin and crypto ventures',
   'event_id': 'B85',
   'news_items': 11,
   'date': 'Mon, 08 Mar 2021 07:47:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'MicroStrategy Snaps Up Another $10 Million in Bitcoin',
   'event_id': 'B84',
   'news_items': 11,
   'date': 'Fri, 05 Mar 2021 08:44:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Bitcoin dips below $50,000 even as a “sell-side crisis” emerges',
   'event_id': 'B83',
   'news_items': 9,
   'date': 'Thu, 04 Mar 2021 17:54:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Dallas Mavericks now accepting Dogecoin as payment',
   'event_id': 'B82',
   'news_items': 8,
   'date': 'Thu, 04 Mar 2021 14:11:00 -0500',
   'tickers': ['DOGE']},
  {'event_name': 'Ripple CEO Gives Two Reasons to Dismiss SEC Lawsuit',
   'event_id': 'B81',
   'news_items': 12,
   'date': 'Thu, 04 Mar 2021 09:00:00 -0500',
   'tickers': ['XRP']},
  {'event_name': 'Enjin Introduces Scaling Solutions to Support NFT Growth',
   'event_id': 'B80',
   'news_items': 5,
   'date': 'Wed, 03 Mar 2021 22:00:00 -0500',
   'tickers': ['ENJ']},
  {'event_name': 'Bullish Bitcoin finally breaks $50,000',
   'event_id': 'B79',
   'news_items': 9,
   'date': 'Wed, 03 Mar 2021 16:30:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Bitfarms Buys Another 48,000 MicroBT Miners',
   'event_id': 'B78',
   'news_items': 5,
   'date': 'Tue, 02 Mar 2021 12:18:00 -0500',
   'tickers': []},
  {'event_name': "Shark Tank's Kevin O'Leary allocates 3% of portfolio to Bitcoin",
   'event_id': 'B77',
   'news_items': 11,
   'date': 'Tue, 02 Mar 2021 12:18:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'MoneyGram Slapped With Lawsuit Over Ripple, XRP Partnership',
   'event_id': 'B76',
   'news_items': 9,
   'date': 'Tue, 02 Mar 2021 12:15:00 -0500',
   'tickers': ['XRP']},
  {'event_name': "Crypto.com to sponsor Aston Martin's Formula 1 team",
   'event_id': 'B75',
   'news_items': 6,
   'date': 'Tue, 02 Mar 2021 12:00:00 -0500',
   'tickers': ['CRO']},
  {'event_name': 'Cboe Applies to List Vaneck Bitcoin ETF through SEC Filing',
   'event_id': 'B74',
   'news_items': 4,
   'date': 'Tue, 02 Mar 2021 12:00:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Goldman Sachs reopens Cryptocurrency trading desk',
   'event_id': 'B73',
   'news_items': 9,
   'date': 'Mon, 01 Mar 2021 17:30:00 -0500',
   'tickers': []},
  {'event_name': "Fidelity's Global Macro head recommends Bitcoin investment",
   'event_id': 'B72',
   'news_items': 4,
   'date': 'Mon, 01 Mar 2021 14:00:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Tezos Gets Integrated Into Computational Tool Wolfram Alpha',
   'event_id': 'B71',
   'news_items': 5,
   'date': 'Mon, 01 Mar 2021 12:12:00 -0500',
   'tickers': ['XTZ']},
  {'event_name': 'MicroStrategy Adds $15 Million to Its Bitcoin Treasury',
   'event_id': 'B70',
   'news_items': 12,
   'date': 'Mon, 01 Mar 2021 08:27:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Bitcoin is at a "tipping point," Citi says',
   'event_id': 'B69',
   'news_items': 7,
   'date': 'Mon, 01 Mar 2021 08:20:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Bitcoin Falls Below $44k As Crypto Prices Continue to Slide',
   'event_id': 'B68',
   'news_items': 10,
   'date': 'Sun, 28 Feb 2021 10:00:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Grayscale Considering 23 Cryptocurrencies for New Investment Products',
   'event_id': 'B67',
   'news_items': 4,
   'date': 'Fri, 26 Feb 2021 14:01:00 -0500',
   'tickers': []},
  {'event_name': 'FD7 initiates conversion of BTC assets to ADA and DOT',
   'event_id': 'B66',
   'news_items': 8,
   'date': 'Fri, 26 Feb 2021 12:00:00 -0500',
   'tickers': ['ADA', 'DOT']},
  {'event_name': 'Coinbase Files S-1 With the U.S. SEC to Go Public',
   'event_id': 'B65',
   'news_items': 19,
   'date': 'Thu, 25 Feb 2021 09:27:00 -0500',
   'tickers': []},
  {'event_name': "Craig Wright Sues Bitcoin Devs to Retrieve £3.5B in ‘Stolen' BTC",
   'event_id': 'B64',
   'news_items': 6,
   'date': 'Wed, 24 Feb 2021 14:24:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'CoinShares Launches Ethereum-Backed ETP Worth $75 Million',
   'event_id': 'B63',
   'news_items': 4,
   'date': 'Wed, 24 Feb 2021 14:15:00 -0500',
   'tickers': ['ETH']},
  {'event_name': 'MicroStrategy Scoops Up $1 Billion Worth of Bitcoin',
   'event_id': 'B62',
   'news_items': 17,
   'date': 'Wed, 24 Feb 2021 10:49:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'Square announces $170M bitcoin buy',
   'event_id': 'B61',
   'news_items': 14,
   'date': 'Tue, 23 Feb 2021 19:57:00 -0500',
   'tickers': ['BTC']},
  {'event_name': 'US Secretary of Treasure Yellen Says Bitcoin is Inefficient for Transactions',
   'event_id': 'B60',
   'news_items': 6,
   'date': 'Tue, 23 Feb 2021 12:06:00 -0500',
   'tickers': ['BTC']}]}

In [37]:
events_df = pd.DataFrame(data = raw_crypto_events['data'])

In [38]:
events_df.tail()

,event_name,event_id,news_items,date,tickers
45,Craig Wright Sues Bitcoin Devs to Retrieve £3....,B64,6,"Wed, 24 Feb 2021 14:24:00 -0500",[BTC]
46,CoinShares Launches Ethereum-Backed ETP Worth ...,B63,4,"Wed, 24 Feb 2021 14:15:00 -0500",[ETH]
47,MicroStrategy Scoops Up $1 Billion Worth of Bi...,B62,17,"Wed, 24 Feb 2021 10:49:00 -0500",[BTC]
48,Square announces $170M bitcoin buy,B61,14,"Tue, 23 Feb 2021 19:57:00 -0500",[BTC]
49,US Secretary of Treasure Yellen Says Bitcoin i...,B60,6,"Tue, 23 Feb 2021 12:06:00 -0500",[BTC]

In [39]:
# Create the ETH sentiment scores DataFrame
sentiments = []

for data in raw_crypto_events['data']:
    try:
        date = data['date']
        text = data["event_name"]
        results = analyzer.polarity_scores(text)
        compound = results["compound"]
        tickers = data['tickers']
        pos = results["pos"]
        neu = results["neu"]
        neg = results["neg"]

        sentiments.append({
            "date": date,
            "text": text,
            "tickers":tickers,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
        })
    except AttributeError:
        pass
    
events  = pd.DataFrame(sentiments)

In [40]:
events.head()

,date,text,tickers,Compound,Positive,Negative,Neutral
0,"Sat, 20 Mar 2021 16:40:00 -0400",Binance Smart Chain hit by $2.4 Million Turtle...,[BNB],-0.2500,0.188,0.257,0.556
1,"Fri, 19 Mar 2021 13:50:00 -0400",Latin America Gets its First Bitcoin ETF,[BTC],0.0000,0.000,0.000,1.000
2,"Thu, 18 Mar 2021 20:35:00 -0400",Meitu Buys $50 Million worth of Bitcoin and Et...,"[BTC, ETH]",0.2263,0.192,0.000,0.808
3,"Thu, 18 Mar 2021 14:16:00 -0400",Lindsay Lohan to Release Exclusive NFT Collect...,[TRX],0.1280,0.158,0.000,0.842
4,"Thu, 18 Mar 2021 09:15:00 -0400",Bank of America slams Bitcoin in research note,[BTC],0.0000,0.000,0.000,1.000

In [41]:
events.describe()

        Compound   Positive   Negative    Neutral
count  50.000000  50.000000  50.000000  50.000000
mean    0.034902   0.077580   0.037680   0.884760
std     0.248826   0.128585   0.089732   0.143453
min    -0.571900   0.000000   0.000000   0.417000
25%     0.000000   0.000000   0.000000   0.789000
50%     0.000000   0.000000   0.000000   1.000000
75%     0.165425   0.176750   0.000000   1.000000
max     0.718400   0.583000   0.316000   1.000000

In [42]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [43]:
# Instantiate the lemmatizer
wnl = WordNetLemmatizer() 

# Create a list of stopwords
stop = stopwords.words('english')

# Expand the default stopwords list if necessary
stop.append("u")
stop.append("it'")
stop.append("'s")
stop.append("n't")
stop.append('…')
stop.append("\`")
stop.append('``')
stop.append('char')
stop.append("''")
stop = set(stop)

In [44]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Create a list of the words
    words = word_tokenize(text)

    # Convert the words to lowercase
    words = list(filter(lambda w: w.lower(), words))
    
    # Remove the punctuation
    words = list(filter(lambda t: t not in punctuation, words))
    
    # Remove the stopwords
    words = list(filter(lambda t: t.lower() not in stop, words))
    
    # Lemmatize Words into root words
    tokens = [wnl.lemmatize(word) for word in words]
    
    return tokens

In [45]:
events['tokens']=events.text.apply(tokenizer)

In [46]:
events.head()

,date,text,tickers,Compound,Positive,Negative,Neutral,tokens
0,"Sat, 20 Mar 2021 16:40:00 -0400",Binance Smart Chain hit by $2.4 Million Turtle...,[BNB],-0.2500,0.188,0.257,0.556,"[Binance, Smart, Chain, hit, 2.4, Million, Tur..."
1,"Fri, 19 Mar 2021 13:50:00 -0400",Latin America Gets its First Bitcoin ETF,[BTC],0.0000,0.000,0.000,1.000,"[Latin, America, Gets, First, Bitcoin, ETF]"
2,"Thu, 18 Mar 2021 20:35:00 -0400",Meitu Buys $50 Million worth of Bitcoin and Et...,"[BTC, ETH]",0.2263,0.192,0.000,0.808,"[Meitu, Buys, 50, Million, worth, Bitcoin, Eth..."
3,"Thu, 18 Mar 2021 14:16:00 -0400",Lindsay Lohan to Release Exclusive NFT Collect...,[TRX],0.1280,0.158,0.000,0.842,"[Lindsay, Lohan, Release, Exclusive, NFT, Coll..."
4,"Thu, 18 Mar 2021 09:15:00 -0400",Bank of America slams Bitcoin in research note,[BTC],0.0000,0.000,0.000,1.000,"[Bank, America, slam, Bitcoin, research, note]"

In [47]:
frames = []

for page in [0,1]:#range(40):
    request_url = f'https://cryptonews-api.com/api/v1?tickers=ETH&items=50&date=yeartodate&sortby=oldestfirst&page={page+1}&token='+ api_key
    frames.append(pd.DataFrame(requests.get(request_url).json()['data']))
    #event_df = pd.DataFrame(data = raw_crypto_events['data'])
    #print(requests.get(request_url).json())
#frames[]

combined_df = pd.concat(frames)

#add re-indexing
combined_df = combined_df.drop(columns =['news_url','image_url'])

combined_df.to_csv('ETH_TEXT.csv')

#combined_df.head()

pd.read_csv('ETH_TEXT.csv')

,Unnamed: 0,title,text,source_name,date,topics,sentiment,type,tickers
0,0,Ethereum 2.0's Beacon Chain Just Launched — in...,"When Bitcoin's genesis block first launched, a...",CoinMarketCap,"Tue, 01 Dec 2020 10:46:38 -0500",['ethereum'],Positive,Article,['ETH']
1,1,How Many Users Have Already Locked Up $20K to ...,Ethereum is moving from a proof-of-work blockc...,CoinMarketCap,"Tue, 01 Dec 2020 12:21:53 -0500",['ethereum'],Neutral,Article,['ETH']
2,2,"Ethereum 2.0 Launch, Bitcoin Challenges $20,000.","Ethereum 2.0's beacon chain goes live, heraldi...",Coindesk,"Tue, 01 Dec 2020 18:18:17 -0500","['ethereum', 'bitcoin']",Positive,Video,"['BTC', 'ETH']"
3,3,Ethereum & Bitcoin Eye Protocol Upgrades,"Powered by Every week, IntoTheBlock brings you...",CoinMarketCap,"Wed, 02 Dec 2020 08:26:59 -0500","['ethereum', 'bitcoin', 'upgrade']",Positive,Article,"['BTC', 'ETH']"
4,4,"Kraken Invests $150,000 in Ethereum Projects v...",The US crypto exchange is matching donations r...,Decrypt,"Thu, 03 Dec 2020 09:31:21 -0500",['ethereum'],Positive,Article,['ETH']
...,...,...,...,...,...,...,...,...,...
95,45,Ethereum price targets $590 after bulls vigoro...,Bulls swooped in to buy Ethereum as it dropped...,Cointelegraph,"Wed, 09 Dec 2020 17:28:33 -0500",['ethereum'],Positive,Article,['ETH']
96,46,Analyst: $500 Likely Remains a Macro Bottom fo...,Ethereum has been closely tracking the price a...,NewsBTC,"Wed, 09 Dec 2020 18:00:58 -0500",['ethereum'],Positive,Article,['ETH']
97,47,Ethereum Defends Pivotal Technical Level Despi...,Ethereum and Bitcoin underwent a strong drop t...,NewsBTC,"Wed, 09 Dec 2020 19:00:15 -0500","['ethereum', 'tanalysis']",Positive,Article,['ETH']
98,48,3iQ Ethereum Fund About to List on Toronto Sto...,Canadian institutional digital asset manager 3...,CryptoPotato,"Thu, 10 Dec 2020 00:14:20 -0500",['ethereum'],Positive,Article,['ETH']
99,49,"TA: Ethereum Remains Vulnerable, Why Close Abo...",Ethereum declined towards the $530 zone before...,NewsBTC,"Thu, 10 Dec 2020 00:28:41 -0500","['ethereum', 'tanalysis']",Negative,Article,['ETH']